body {
    background-color: white;
    font-size: 14px;
    line-height: 18px;

}
#content {
    width: 500px;
    border: 1px solid black;
    margin: 40px auto;
    padding: 50px;
    text-align: center;
}
header {
    letter-spacing: 0.1em;
}
h2 {
    color: #035f9c;
    font-size: 13px;
    font-weight: 100;
    margin-bottom: -6px;
    margin-top: 25px;   
}
hr {
    height: 0.1px;
    background-color: #035f9c;
    width: 70%;
    margin-bottom: 50px;
}
#description {
    width: 72%;
    margin: 0 auto;
    text-align: left;
}
img {
    width: 18%;
}
h3 {
    font-style: italic;
    font-weight: lighter;
}
li {
    margin-bottom: 26px;
}
