body {
    background-color: white;
    font-size: 20px;
    line-height: 21px;

}
#content {
    max-width: 38%;
    border: 1px solid black;
    margin: 40px auto;
    padding: 50px;
    text-align: center;
}
h5 {
    color: #035f9c;
    font-weight: 100;
    margin-bottom: -6px;
}
hr {
    height: 0.1px;
    background-color: #035f9c;
    width: 70%;
    margin-bottom: 50px;
}
#description {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}
img {
    width: 18%;
}
h4 {
    font-style: italic;
    font-weight: lighter;
}
li {
    margin-bottom: 26px;
    font-size: 17px;
}
